export(maxEM, Ey.given.x, pr.y.given.x, maxEM.iter.control, mstep, phi.update.lframe, estAbund, simSonic)

exportPattern( ".frag")

import(splines)
importFrom("stats", "convolve", "dgeom", "dpois", "glm","runif",
           "model.matrix", "plogis", "predict", "qgeom",
           "quasipoisson", "rpois", "sd", "uniroot", "xtabs")
